.floorPlan_box {
  width: 100%;
  max-width: 240px;
  display: inline-block;
  margin: 5px;
  margin-right: 12px;
  border: solid 1px #dadada;
  position: relative;
  padding: 10px;
  padding-bottom: 75px;
  margin-bottom: 40px;
  background-color: #fff;
}

.floorPlan_box a {
  color: #0099fa;
  text-decoration: none;
  cursor: pointer;
  text-decoration: none;
}

.floorPlan_box img {
  height: 354px;
  width: auto;
  max-height: 180px;
}

.floorPlan_box .floor_bottom {
  position: absolute;
  bottom: 0px;
  width: 100%;
  border-top: solid 1px #dadada;
  height: 68px;
  margin: 0 0 0 -10px;
  padding: 12px 0;
}

.floorPlan_box .floor_bottom .col:first-child {
  border-right: solid 1px #dadada;
}

.floorPlan_box .floor_bottom .col {
  font-size: 30px;
  font-size: 14px;
  text-align: left;
}

.floorPlan_box .floor_bottom .col label {
  font-size: 18px;
  display: inline-block;
  width: 100%;
  line-height: 120%;
}

@media screen and (max-width: 426px) {
  .floorPlan_box .floor_bottom .col label {
    font-size: 12px;
  }

  .floorPlan_box .floor_bottom .col {
    font-size: 14px;
  }
}

@media screen and (max-width: 900px) and (orientation: landscape) {
  .floorPlan_box .floor_bottom .col label {
    font-size: 12px;
  }

  .floorPlan_box .floor_bottom .col {
    font-size: 14px;
  }

  .similar_property .owl-item {
    width: auto !important;
  }
}
